<div style="background-color: #007700; height:40px;"><p style="text-indent:25px;padding-top: 5px; color:white; font-family: Verdana; font-size: 18px; font-weight: bold;">     Live Question Tool App: CSC 517 </p> </div>


<table>
  <tr>
    <th>Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td> </td>
    <td><%= post.question %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'New', new_comment_path(:post_id => post.id,:post_question => post.question) %></td>
    <td><% post.comments.each do |comment|%>
        <%= comment.reply %><br/>
        <% end %>
        </td>
  </tr>


<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
